@import './base/constants/color';
@import './base/normalize';
@import './base/reset';
@import './mixins/flexbox';
@import './mixins/position';

section {
    padding: 3rem 0;
}

.logo {
    width: auto;
    height: 2rem;
    margin-bottom: 2rem;
}

.store-btn {
    width: auto;
    height: 3.5rem;
    opacity: 70%;
    &:hover,
    &:active {
        cursor: not-allowed;
    }
}

.first-section {
    background-color: $primary;
    h1,
    p {
        text-align: center;
    }

    h1 {
        margin-bottom: 24px;
    }

    .btn-download {
        width: 90vw;
        margin-top: 0.1rem;
        margin-bottom: 0.5rem;
        color: $primary;
        margin-bottom: 2rem !important;
        border: none;
        transition: background-color 200ms ease-in-out;
        transition: color 200ms ease-in-out;
        &:active,
        &:hover {
            border: 1px solid $white;
            background-color: $primary;
            color: $white;
        }
        i {
            margin-right: 2rem;
        }
        max-width: 400px;
    }
    .main-img {
        width: 13.25rem;
        height: 27rem;
        margin-top: 4.5rem;
        margin-bottom: 2.6rem;
    }
    strong {
        margin-bottom: 5rem;
    }
    .button-center {
        a:first-child {
            margin-top: 2rem;
        }
        a:last-child {
            margin-top: 0.5rem;
        }
    }
}

.second-section {
    .title-black {
        margin-bottom: 1.5rem;
    }
    .routine-img-1 {
        margin-top: 2rem;
        width: 14.2rem;
        height: 28.5rem;
    }
    .routine-img-2 {
        margin-top: 2rem;
        width: 13.188rem;
        height: 7.75rem;
    }
    h1,
    p {
        text-align: center;
        @media screen and (min-width: 1000px) {
            text-align: left;
        }
    }
}

.third-section {
    background-color: #f0f1ff;
    p {
        margin-top: 1.6rem;
    }
    .friend-img {
        width: 20rem;
        height: auto;
        margin-top: 4rem;
    }
    h1,
    p {
        text-align: center;
        @media screen and (min-width: 1000px) {
            text-align: left;
        }
    }
}

.fourth-section {
    p {
        margin-top: 1.6rem;
    }
    h1,
    p {
        text-align: center;
        @media screen and (min-width: 1000px) {
            text-align: left;
        }
    }
}
.phone-habit-img {
    margin-top: 3rem;
    width: 13rem;
    height: auto;
}

.fifth-section {
    background-color: #f0f1ff;
    .phone-chat-img {
        margin-top: 3rem;
        width: 13rem;
        height: auto;
    }
    h1,
    p {
        text-align: center;
        @media screen and (min-width: 1000px) {
            text-align: left;
        }
    }
}

footer {
    background-color: $primary;
    padding: 2.5rem 0;
}

.title-white {
    font-size: 1.5rem;
    font-weight: 700;
    color: $white;
    line-height: 2rem;
    letter-spacing: 0.15 px;
}

.desc-white {
    font-size: 0.875rem;
    color: $white;
    letter-spacing: 0.15 px;
    line-height: 1.313rem;
}

.title-black {
    font-size: 1.5rem;
    font-weight: 700;
    color: $black;
    line-height: 2rem;
    letter-spacing: 0.15 px;
}

.desc-black {
    font-size: 0.875rem;
    color: $black;
    letter-spacing: 0.15 px;
    line-height: 1.313rem;
}

.button-center {
    @include column-flexbox();
    button {
        width: 12.563rem;
        height: 3rem;
        background-color: $white;
        border-radius: 25.7143px;
    }
}

.media-center {
    @include column-flexbox();
}

.center {
    @include flexbox();
    justify-content: center;
    align-items: center;
}
